/* --------------- Reset ---------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fb9e1a;
  background-image: url("../assets/images/food-backgraund.png");
  background-repeat: repeat;
}

.body-color {
  background-color: #ffffff;
}

h1, h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 6rem;
  color: #ffffff;
}


/* --------------- Classes to show loading splash ---------------*/

h2 {
  margin: 5rem 1rem;
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load 1.8s infinite ease-in-out;
  animation: load 1.8s infinite ease-in-out;
}

.loader {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}

.loader:before {
  left: -3.5em;
}

.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@-webkit-keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}

.loader-img {
  content: url("../assets/images/logo-chef.png");
  width: 16rem;
  margin: 6em auto;
}

/* --------------- Classes for homepage---------------*/

/* Classes for navbar */
.navbar {
  background-color: #fb9e1a;
}

.navbar-brand h1 {
  margin: 0 3rem;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}

.fas {
  color: #ffffff;
}

@media (min-width: 768px) { 
  .margin-ul {
    margin-left: 35rem;
  }
}

@media (min-width: 992px) { 
  .margin-ul {
    margin-left: 58rem;
  }
}

@media (min-width: 1200px) { 
  .margin-ul {
    margin-left: 80rem;
  }
}




