<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>FoodMap</title>
  <!--Import Favicon-->
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
  <!--Import Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <!--Import Icon Font-->
  <link type="text/css" rel="stylesheet" href="../assets/icons/fontawesome-5.0.2/web-fonts-with-css/css/fontawesome-all.min.css">
  <!--Import bootstrap.css-->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!--Import main.css-->
  <link type="text/css" rel="stylesheet" href="../css/main.css">
</head>

<body class="body-color">
  <!-- Homepage -->
  <!-- NavBar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <!-- El logotipo y el icono que despliega el menú se agrupa para mostrarlos mejor en los dispositivos móviles -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <i class="fas fa-bars"></i>
            </button>
            <button type="submit" class="navbar-toggle pull-right hidden-lg" href="#login" data-toggle="modal">
              <i class="fas fa-user"></i>
            </button>
            <a class="navbar-brand" href="#">
              <img src="../assets/images/logo-foodmap.png" class="logo" alt="foodmap">
            </a>
          </div>
          <!-- Agrupar los enlaces de navegación para ocultar al minimizar la barra  nav-left/ pull-right utilizar para modo escritorio-->
          <div class="collapse navbar-collapse navbar-ex1-collapse margin-ul col-sm-offset-7 col-md-offset-9">
            <ul class="nav navbar-nav">
              <li class="visible-xs-block">
                <a href="#">
                  <i class="fas fa-utensils"></i>
                  <span> Restaurant </span>
                </a>
              </li>
              <li class="visible-xs-block">
                <a href="#">
                  <i class="fas fa-heart"></i>
                  <span> Favoritos </span>
                </a>
              </li>
              <li class="hidden-xs pull-right">
                <a href="#register" data-toggle="modal">
                  <button type="button" class="btn btn-outline">
                    <i class="fas fa-edit"></i>
                    Registrate
                  </button>
                </a>
              </li>
              <li class="hidden-xs pull-right">
                <a href="#login" data-toggle="modal">
                  <button type="button" class="btn btn-outline">
                    <i class="fas fa-user"></i>
                    Iniciar sesión
                  </button>
                </a>
              </li>
              <li role="separator" class="divider">
                <hr>
              </li>
              <li class="visible-xs-block">
                <a href="#">
                  <i class="fas fa-info-circle"></i>
                  <span> Información </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Header-->
  <header class="masthead background">
    <div class="container-fluid h-100 div-info">
      <div class="row h-100 margin-row-top">
        <div class="col-lg-10 my-auto">
          <div class="header-content mx-auto">
            <h2 class="col-xs-12 col-md-10 col-md-offset-2 no-gutters text-center">Bienvenidos</h2>
            <div class=" col-md-10 col-md-offset-2 text-center">
              <img src="../assets/images/api-restaurant.png" alt="" class="hidden-xs img-api">
              <br>
            </div>
            <h3 class="col-xs-12 col-md-10 col-md-offset-2 mb-4 text-center">realiza tu búsqueda ahora y sacia tu apetito.!</h3>
          </div>
          <form>
            <div class="form-row">
              <div class="col-xs-12 col-md-7 col-md-offset-3 mb-md-0">
                <br>
                <input id="input-district" type="text" class="form-control form-control-lg" placeholder="En que distrito deseas buscar? ...">
              </div>
              <div class="col-xs-12 col-md-1 text-center">
                <br>
                <button id="btn-search" type="submit" class="btn btn-outline btn-xl">Search</button>
                <br>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- Modales -->
  <!-- Information -->
  <div class="modal fade" id="modal-info" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <p class="p-tittle">
            <strong> EMPEZAR AHORA </strong>
          </p>
        </div>
        <div class="modal-body text-center">
          <img src="../assets/images/phone-app.png" alt="" class="reduce-img">
          <div>
            <button class="btn btn-outline" type="submit">
              <i class="fab fa-apple"></i>
            </button>
            <button class="btn btn-outline" type="submit">
              <i class="fab fa-google-play"></i>
            </button>
          </div>
          <br>
          <p class="text-muted">
            <strong>Al ingresar acepta nuestros
              <a href="#">términos de servicio y política de privacidad.</a>
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--Register-->
  <div class="modal fade in display-none style-modal" id="register">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="fas fa-edit" aria-hidden="true"></i>
        </div>
        <div class="modal-body">
          <div class="container-modal text-center">
            <form>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fas fa-user" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" placeholder="Username">
                <div id="username" class="errores"> Enter a username longer than 3 characters </div>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fas fa-lock" aria-hidden="true"></i>
                </div>
                <input type="password" class="form-control" placeholder="Password">
                <div id="password" class="errores"> Enter a password longer than 6 characters </div>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fas fa-lock" aria-hidden="true"></i>
                </div>
                <input type="password" class="form-control" placeholder="Confirm password">
                <div id="confirm_password" class="errores"> Please confirm your password </div>
              </div>
              <br>
              <button class="btn btn-outline" type="submit">REGISTER</button>
              <br>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Login-->
  <div class="modal fade in display-none style-modal" id="login">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="fas fa-user-circle" aria-hidden="true"></i>
        </div>
        <div class="modal-body">
          <div class="container-modal text-center">
            <form>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fas fa-user" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fas fa-lock" aria-hidden="true"></i>
                </div>
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <br>
              <button class="btn btn-outline" type="submit">LOGING</button>
              <br>
              <br>
              <p>Forgot password?
                <a href="#" class="text-danger">Click here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Alert-->
  <div class="modal fade in display-none style-modal" id="alert-danger">
    <div class="modal-dialog">
      <div id="">
        <div class="margin-top-alert">
          <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <h4 class="text-center">
              <font>
                <font>Oh no!...</font>
                <font>¡Es posible que no encontremos resultados para este distrito!</font>
              </font>
            </h4>
            <p class="text-center">
              <i class="far fa-frown"></i>
            </p>
            <p class="text-center">
              <font>
                <font>Vuelva a intentarlo, porfavor. </font>
              </font>
            </p>
            <p class="text-center">
              <i class="fab fa-medapps"></i>
              <font>
                <font>Como última instancia prueba con Los Olivos!, para revisar el funcionamiento de nuestro buscador</font>
              </font>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Import jQuery before bootstrap.js-->
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!--Import data.js-->
  <script type="text/javascript" src="../js/data.js"></script>
  <!--Import app.js-->
  <script type="text/javascript" src="../js/homepage.js"></script>
</body>

</html>